@import 'normalize.css';
@import 'global.scss';
@import 'header.scss';
@import 'section12.scss';

.review {
	padding: 200px 0;
	background-position: center;
	position: relative;

	&::before {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		width: 100%;
		height: 100%;
		background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.40), rgba(0, 0, 0, 0.40));
		background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.40), rgba(0, 0, 0, 0.40));
		background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.40), rgba(0, 0, 0, 0.40));
		background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0.40), rgba(0, 0, 0, 0.40));
		background-image: linear-gradient(top, rgba(0, 0, 0, 0.40), rgba(0, 0, 0, 0.40));
		filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#99000000', endColorstr='#99000000');
	}

	&__title {
		font-size: 102px;
		text-align: center;
		color: #fff;
		position: relative;
		z-index: 1;
	}
}

.items1 {
	padding-top: 120px;
	padding-bottom: 30px;

	&__inner {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	&__item {
		max-width: 560px;
		width: 100%;
		text-align: left;
		margin-bottom: 120px;

		&-img {
			background-image: url(../img/fartuki1.jpg);
			margin-bottom: 20px;
			width: 100%;
			height: 20px;
			padding-bottom: 133.92857142857%;
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
		}

		&-title {
			color: #000;
			font-size: 24px;
			font-weight: 700;
			line-height: 1.35;
			margin-bottom: 8px;
		}

		&-subtitle {
			font-size: 14px;
			line-height: 1.55;
			margin-bottom: 3px;
		}

		&-color {
			margin-bottom: 12px;
			color: rgb(158, 170, 84);
			font-size: 14px;
			line-height: 1.55;
			margin-bottom: 12px;
			font-weight: 700;
		}

		&-price {
			font-size: 16px;
		}
	}
}

.fartuki-slider {
	&-section {
		padding-bottom: 190px;

		.popup__title {
			font-weight: 500 !important;
		}
		.popup__text{
			margin-left: 40px;
		}
		.popup__btn{
			background-color: #ff4a4a;
			border-radius: 30px;
		}
	}

	&__inner {
		max-width: 100vw;
		width: 100%;
		display: flex;
		align-items: flex-start;
		justify-content: flex-start;
	}

	&-wrap {
		max-width: 50vw;
		width: 50vw;
		margin-left: 140px;
		position: relative;
	}

	&-container {
		width: 50%;
	}


	&-item {
		img {
			width: 100%;
		}
	}

	&-pagination {
		&-item {
			width: 30px;
			height: 30px;
		}
	}
}


.fartuki-slider-swiper-button-prev,
.fartuki-slider-swiper-button-next {
	&::after {
		display: none;
	}

	svg {
		width: 8px;
	}
}

.fartuki-slider-swiper-button-prev {
	transform: rotate(180deg);
}

.fartuki-slider-pagination {
	margin: 0 auto !important;
	position: static !important;
}

.fartuki-slider-pagination-item {
	width: 60px !important;
	height: 60px !important;
	object-fit: cover;
	border-radius: 0 !important;
	opacity: 1 !important;

	&+& {
		margin-left: 5px;
	}

	&:hover {
		opacity: 0.7 !important;
	}
}



@media(max-width:1500px) {
	.fartuki-slider-section{
		padding-bottom: 50px;
	}
	.fartuki-slider-wrap{
		margin-left: 0;
	}
}

@media(max-width:1200px) {
	.fartuki-slider__inner{
		flex-direction: column	;
	}
	.fartuki-slider-wrap{
		margin: 0 auto !important;
		width: 100%;
	}
	.fartuki-slider-container{
		width: auto;
	}
	.fartuki-slider-section .popup__text{
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		width: 100%;
		margin-left: 0 !important;
		text-align: center;
	}
}

@media(max-width:650px) {
	.review__title {
		font-size: 34px;
	}
}

@media(max-width:425px) {
	.review__title {
		font-size: 34px;
	}
	.fartuki-slider-pagination-item{
		width: 30px !important;
		height: 30px !important;
	}
}