html {
	font-family: 'Montserrat', sans-serif;
	color: #333333;
}

a{
	color: inherit;
	text-decoration: none;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}

button {
	background-color: transparent;
	border: none;
	cursor: pointer;
	margin: 0;
	padding: 0;
}

*,
*:active,
*:focus {
	outline: transparent;
}

.link-btn{
	padding: 9px 29px;
	border: 2px solid #333333;
	display: block;
	width: fit-content;
}

h1,
h2{
	margin-inline: 0;
	margin-block: 0;
}