.kitel {
	&__inner {
		display: flex;
		align-items: flex-start;
		justify-content: center;
	}

	&__img {
		height: 600px;
	}

	&__text {
		padding-top: 50px;
		margin-right: 40px;
		font-family: Roboto;
		text-transform: uppercase;
		font-weight: 700;
		&-info{
			line-height: 140%;
		}
		&-title {
			margin-bottom: 100px;
			&-one {
				text-align: right;
				width: 100%;
				display: block;
				font-size: 64px;
				line-height: 70%;
			
			}

			&-two {
				text-align: center;
				width: 100%;
				display: block;
				font-size: 64px;
				line-height: 70%;
			
			}

			&-three {
				text-align: left;
				width: 100%;
				display: block;
				font-size: 64px;
				line-height: 70%;
			
			}
		}
	}

	&__btn{
		border: 3px solid #222;
		padding:  10px 20px;
		margin-bottom: 50px;
		font-family: Roboto;
		font-weight: 700;
		display: flex;
		align-items: center;
		justify-content: center;
		width: fit-content;
		svg{
			width: 7px;
			margin-left: 10px;
		}
	}

}
