.clients{
    overflow: hidden;
}

.clients__wrapper{
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &-title{
        font-size: 81px;
        font-weight: 300;
        line-height: 1.2;
        margin-bottom: 100px;
    }
    .clients__slider{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        padding: 0 30px;
        &-wrapper{
            width: 100%;
            margin: 0 auto;
            justify-content: space-between;
            overflow: hidden;
            &-slide{
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-direction: column;
                width: 100%;
                height: 375px;
                a{
                    max-width: 130px;
                    img{
                        width: 100%;
                        object-fit: cover;
                    }
                }
            }
        }
        .clients-button-next,
        .clients-button-prev{
            position: absolute;
            width: 31px;
            height: 60px;
            top: calc(50% - 30px);
            fill: #000000;
            cursor: pointer;
            z-index: 5;
        }
        .clients-button-next{
            right: 0px;
        }
        .clients-button-prev{
            left: 0px;
            transform: rotate(180deg);
        }
        &-text{
            font-family: Montserrat;
            font-size: 24px;
            font-weight: 400;
            line-height: 1.2;
        }
    }
}



@media (max-width: 400px){
    .clients__wrapper-title{
        font-size: 40px;
    }
}
