.apron {
	background-repeat: no-repeat;
	background-size: cover;

	&__inner {
		padding-top: 238px;
		padding-bottom: 260px;
	}

	&__subtitle {
		margin-bottom: 20px;
		font-weight: 500;
		font-size: 20px;
		line-height: 24px;
	}

	&__title {
		font-size: 72px;
		line-height: 88px;
		margin-bottom: 50px;
		font-weight: normal;
	}

	&__text-block {
		max-width: 350px;
		margin-left: auto;
		text-align: center;
	}

	&__button {
		margin: 0 auto;
	}
}


@media (max-width: 1700px) {
	.apron {
		background-position: center;
	}
}

@media (max-width: 1300px) {
	.apron {
		background-position: center;
	}
}

@media (max-width: 1040px) {
	.apron {
		background-position: 60%;
	}
}

@media (max-width: 824px) {
	.apron {
		background-position: 70%;
	}
}

@media (max-width: 400px) {
	.apron__title {
		font-size: 62px;
		line-height: 1;
	}
}