
.preview {
	background: rgba(0, 0, 0, 0.17);

	&__inner {
		position: relative;
		overflow: hidden;
	}

	&__bg {
		position: absolute;
		margin-left: auto;
		margin-right: auto;
		left: 0;
		right: 0;
		transition: 1s all;
		max-width: 100%;
	}

	&__slider {
		height: 100%;

		&-item {
			&-inner {
				display: flex;
				justify-content: center;
				align-items: flex-end;
				position: relative;
			}

			&-text {
				position: absolute;
				left: 0;
				top: 50%;

				&-top {
					font-size: 15px;
					line-height: 18px;
					margin-bottom: 20px;
				}

				&-middle {
					font-size: 39px;
					line-height: 48px;
					margin-bottom: 41px;
				}

				&-bottom {
					font-size: 18px;
					line-height: 22px;
					padding-left: 25px;
					position: relative;
					&::before{
						content: '';
						position: absolute;
						top: 50%;
						left: 0;
						transform: translateY(-50%);
						width: 15px;
						height: 1px;
						background-color: #000000;
					}
				}
			}
			&-img{
				margin-left: 45px;
			}
		}
	}
}

@media (max-width: 600px){
	.preview{
		padding-top: 70px;
	}
}


@media(max-width: 500px) {
	.preview__slider-item-text-middle{
		font-size: 29px;
		line-height: 1;
	}
	.preview__slider-item-img{
		margin-left: 0;
	}

}

@media(max-width: 390px) {
	.preview__slider-item-text-middle{
		font-size: 22px;
		line-height: 1;
	}

	.preview__slider-item-text-top{
		font-size: 13px;
	}

}

#cog {
	-webkit-animation: cog 15s infinite;			
	-moz-animation: cog 15s infinite;
	-ms-animation: cog 15s infinite; 			
	animation: cog 15s infinite;
	-webkit-animation-timing-function: linear;
	-moz-animation-timing-function: linear;		
	-ms-animation-timing-function: linear;
	animation-timing-function: linear	
}

@keyframes cog {
100%{ 
	-moz-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	transform: rotate(360deg)
}
}