@import 'normalize.css';
@import 'swiper/swiper-bundle.css';

@import 'global.scss';
@import 'header.scss';
@import 'section1.scss';
@import 'section2.scss';
@import 'section3.scss';
@import 'section4.scss';
@import 'section5.scss';
@import 'section6.scss';
@import 'section7.scss';
@import 'section8.scss';
@import 'section9.scss';
@import 'section10.scss';
@import 'section11.scss';
@import 'section12.scss';

@import 'info.scss';
@import 'rubashki.scss';
@import 'fartuki.scss';
@import 'bruki.scss';
@import 'kitel.scss';
@import 'accessories1.scss';
@import 'basket.scss';
